@using Umbraco.Cms.Core.PropertyEditors.ValueConverters
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using PictureRenderer.Umbraco
@using Umbraco.Cms.Core.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Start>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    Hello<br />
    @Html.Picture((MediaWithCrops)Model.Image1, PictureProfiles.SampleImage)
    <br />
    @Html.Picture((ImageCropperValue)Model.ImageCropperTest, PictureProfiles.SampleImage)
    <br />
    @Html.Picture((ImageCropperValue)Model.ImageCropperTest, PictureProfiles.SampleImage, "Some alt text")


</body>
</html>
