<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="optimizely" value="https://api.nuget.optimizely.com/v3/index.json" />
    <add key="Local ImagePointEditor" value="C:\Projects\ImagePointEditor\src\ImagePointEditor\bin\Release" />
    <add key="Local PR.Optimizely" value="C:\Projects\PRenderer\PictureRenderer.Optimizely\bin\Release" />
  </packageSources>
</configuration>
