@page
@using global::GenericWebApp
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @Html.Raw(Picture.Render("/test.jpg", PictureProfiles.Thumbnail))
    <br />
    @Html.Raw(Picture.Render("/test.jpg?quality=70", PictureProfiles.SampleImage, "alt text", LazyLoading.Browser, focalPoint: (0.3, 0.4)))
    <br />
    @Html.Raw(Picture.Render("/test.jpg", PictureProfiles.Thumbnail, cssClass: "my-css-class"))
    <br />
    @Html.Raw(Picture.Render("/test.jpg", PictureProfiles.Thumbnail, "alt text", "my-css-class"))

</div>
